* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/6819162-fancy-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 700px;
}

caption {
    height: 35px;
    width: 700px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #c5c520;
    text-shadow: 8px 5px 5px black;
    font-family: "Lobster";
    letter-spacing: 9px;
    margin-top: 10px;
    margin-bottom: 15px;
}

fieldset {
    width: 690px;
    height: 148px;
    background-color: transparent;
    background: black;
    opacity: 0.9;
    border-color: #454a0e;
    border-width: 1px;
    border-radius: 5px;
    padding-right: 12px;
    padding-bottom: 2px;
    padding-left: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

fieldset table {
    width: 700px;
    margin: 8px;
}

legend {
    height: 20px;
    border-style: outset;
    background-color: #15170b;
    color: #c5c520;
    border-width: 1px;
    border-color: #c5c520;
    border-radius: 5px;
    padding-right: 2px;
    padding-left: 10px;
}

p {
    text-align: left;
}


/*.job {
	margin-right: 
}*/

.info {
    float: left;
}

.other {
    float: right;
    margin-left: 152px;
}

.country {
    margin-left: 15px;
    display: inline-block;
    float: left;
}

.mobile {
    padding-left: 100px;
    float: right;
}

select {
    width: 180px;
    background-color: #15170b;
    color: #a4bbb6;
    border: 1px;
    border-radius: 10px;
    border-width: 0px;
    padding-left: 5px;
    margin-left: 10px;
    outline: none;
    text-align: left;
}

.select1 {
    width: 155px;
    padding: 7px;
    border-style: outset;
    margin-left: 8px;
}

.select3 {
    width: 130px;
    padding: 7px;
    border-style: outset;
    margin-left: 10px;
}

.selected {
    width: 110px;
    border: 0px;
    border-style: outset;
    align-items: left;
    margin-left: 5px;
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #27270e;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #42420a;
    border-radius: 10px;
}

.right {
    text-align: right;
    color: #5b5d33;
}

input {
    height: 16px;
    width: 170px;
    background-color: #15170b;
    color: #a4bbb6;
    text-align: left;
    border-style: inset;
    border: 1px #100000;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 10px;
    outline: none;
}

.text1 {
    color: #a4bbb6;
    width: 180px;
    /*margin-right: 55px;*/
}

.text {
    width: 42px;
    padding-left: 8px;
}

.text3 {
    margin-left: 0px;
    width: 41px;
}

.location {
    width: 690px;
    height: 130px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.loc {
    float: right;
}

summary {
    height: 0px;
    width: 85px;
    background-color: #001a1a;
    color: #c5c520;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 15px;
    outline: none;
}

.programming {
    /*width: 698px;*/
    /*height: 113px;*/
    padding-left: 15px;
    /*padding-right: 5px;*/
    text-align: left;
}

.prowess {
    width: 685px;
    height: 90px;
}

.center {
    text-align: center;
}

.language {
    padding-right: 18px;
    margin-bottom: 0px;
}

.language1 {
    /*width:690px;*/
    /*height:110px;*/
}

.languages {
    /*height:65px;*/
    /*width:690px; */
}

.lang {
    color: #5b5d33;
}

i {
    color: #e8eac4;
    text-align: center;
    padding-left: 10px;
}

.image {
    width: 100px;
    height: 100px;
    opacity: 0.8;
    margin-right: 40px;
}

textarea {
    height: 17px;
    width: 185px;
    border-radius: 10px;
    border-style: inset;
    background-color: #15170b;
    color: #9bdecf;
    border: 1px, #100000;
    padding-left: 5px;
    margin-left: 10px;
    border-width: 0px;
    outline: none;
}

.mail {
    width: 180px;
    border-style: inset;
    border-width: 0px;
    margin-left: 10px;
    color: #a4bbb6;
}

.phone {
    padding-left: 130px;
}

.check {
    width: 55px;
    height: 15px;
    text-align: left;
    color: black;
    margin-left: 0px;
}

.search {
    width: 80px;
}

.search1 {
    width: 80px;
    height: 15px;
    margin-left: 0px;
}

form {
    color: #5b5d33;
    margin-left: 10px;
}

.check1 {
    width: 55px;
    color: black;
}

.checkbox {
    width: 11px;
    height: 11px;
    background-color: #001a1a;
}

.radio {
    width: 12px;
    height: 12px;
}

.reading {
    margin-left: 125px;
}

.writing {
    margin-left: 85px;
}

.communication {
    margin-left: 70px;
}

.understanding {
    margin-left: 40px;
}

.reading-label {
    margin-left: 117px;
}

.writing-label {
    margin-left: 100px;
}

.comm-label {
    margin-left: 74px;
}

.und-label {
    margin-left: 52px;
}

li {
    font-size: 12px;
}

ul li {
    color: #a4bbb6;
}

abbr,
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}